@import "variables";

div.highlight {
 overflow: unset;
 margin-bottom: 5px;
}

pre.highlight{
 max-width: 100%;
 line-height: 1.3;
 background: #e3e6e8;
 border: 1px solid #e3e6e8;
}

code {
  font-family: "JetBrains Mono";
  font-size: 13px;
  font-weight: 300;
  position: relative;
  font-variant-ligatures: none;
}

code img {
  margin: 0px;
}

code.language-plaintext {
  padding: 0.4px 5px;
  padding-bottom: 0;
  background: #e3e6e8;
  border: 1px solid #e3e6e8;
  font-size: 12px;
}
